<ion-view view-title="Escape Plan">
    <ion-content>
        
        <div class="container full">
            <h3 class='subtitle side-text-big'>Every hero needs a way out</h3>
            <img class="lyft" src="img/lyft.png" alt="lyft">
    
            <a href="lyft://pickup[latitude]=37.764728&pickup[longitude]=-122.422999&destination[latitude]=37.7763592&destination[longitude]=-122.4242038"><button class="button welcomeButton-blue">ESCAPE</button></a>
        </div>

    </ion-content>
</ion-view>
