<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="prevale-side-bg">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Settings</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/map">
          Open Explore
        </ion-item>
        <ion-item menu-close href="#/app/missions">
          Missions
        </ion-item>
      </ion-list>

    <div class="container">
      <img class="img-logo-side" src="img/prevale-logo.png" alt="logo">
      <div class="side-text">
        <p>© 2016 Prevale</p>
      </div>
    </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
