<ion-view view-title="Missions">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-list class="animate-ripple">
            <a href="#/app/mission" nav-clear menu-close class="item item-thumbnail-left">
                <img src="img/burger.jpg">
                <h2>In'n'Out Burger</h2>
                <p>Get a discounted burger with extra fries</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a href="#/app/mission" nav-clear menu-close class="item item-thumbnail-left">
                <img src="img/coffee.jpg">
                <h2>Black Point Coffee</h2>
                <p>Enjoy a view with your coffee</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a href="#/app/mission" nav-clear menu-close class="item item-thumbnail-left">
                <img src="img/nike.jpg">
                <h2>Nike</h2>
                <p>Make it here in 2 hours and get a discounted pair of shoes</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a href="#/app/mission" nav-clear menu-close class="item item-thumbnail-left">
                <img src="img/vitaminwater.png">
                <h2>Vitamin Water Trail</h2>
                <p>Enjoy a free bottle of vitamin water after your hike</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a href="#/app/mission" nav-clear menu-close class="item item-thumbnail-left">
                <img src="img/patagonia.jpg">
                <h2>Patagonia</h2>
                <p>See the buffalo at Golden Gate park and get a buffalo hat</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </ion-list>
    </ion-content>
    <!-- <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/burger.jpg">
                    <h2>In'n'Out Burger</h2>
                    <p>Get a discounted burger with extra fries</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/coffee.jpg">
                    <h2>Black Point Coffee</h2>
                    <p>Enjoy a view with your coffee</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/nike.jpg">
                    <h2>Nike</h2>
                    <p>Make it here in 2 hours and get a discounted pair of shoes</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/vitaminwater.png">
                    <h2>Vitamin Water Trail</h2>
                    <p>Enjoy a free bottle of vitamin water after your hike</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/patagonia.jpg">
                    <h2>Patagonia</h2>
                    <p>See the buffalo at Golden Gate park and get a buffalo hat</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content> -->
</ion-view>
