<ion-view>
    <div id="welcome">
      <!-- <h1 class="logo">PREVALE</h1> -->
      <img class="img-logo" src="../img/prevale-logo.png" alt="logo">

      <div id="welcome-button" class="bar bar-footer bar-balanced">
        <!-- <a href="localhost:3000/auth/facebook" class="button button-clear button-full title" ng-click>Facebook</a> -->

        <button class="button button-clear button-full title" ng-click="facebookSignin()">Login with Facebook</button>

      </div>
      
    </div>
</ion-view>
