<ion-view>
    <div id="welcome">
      <!-- <h1 class="logo">PREVALE</h1> -->
      <img class="img-logo" src="img/prevale-logo.png" alt="logo">

      <!-- <div id="welcome-button" class="bar bar-footer bar-balanced"> -->
        <!-- <a href="localhost:3000/auth/facebook" class="button button-clear button-full title" ng-click>Facebook</a> -->
        <!-- <button class="button button-clear button-full title" ng-click="facebookSignin()">Login with Facebook</button> -->
      <!-- </div> -->

      <form novalidate name="signupForm" ng-submit=signin()>
        <input class="textInput" type="text" name="username" ng-model="user.username" placeholder="Username">
        <input class="textInput" type="password" name="password" ng-model="user.password" placeholder="Password">
        <button class="button welcomeButton" type="submit">Login</md-button>
      </form>
      
    </div>
</ion-view>
