#map {
  position:absolute; top:40px; bottom:0; width:100%;
}

.img-logo {
  height: 52px;
  width: 300px;
}

#welcome {
  background-color: #FBFCFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:absolute; top:0px; bottom:0; width:100%;
}

#welcome-button {
  background-color: #18CDCB;
  border-color: #18CDCB; 
  /*background-color: #F8F8F8;*/
}

#welcome-button button {
  font-size: 25px;
  padding-bottom: 50px;
}
