#map {
  position:absolute; top:40px; bottom:0; width:100%;
}

.textInput {
  border-radius: 5px;
  height: 150px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  border-color: tomato;
  border: 4px solid;
}

.welcomeButton {
  background-color: tomato;
  color: white;
  width: 300px;
}

.img-logo {
  height: 52px;
  width: 300px;
  margin-bottom: 50px;
}

#welcome {
  background-color: #FBFCFC;
  background-image: url("../img/prevale-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:absolute; top:0px; bottom:0; width:100%;
}
